* {
  box-sizing: border-box;
}

.flexwrapper {
  display: flex;
  flex-wrap: wrap;
}

.flexwrapper, .gridwrapper, .gridabsolutewrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.flexwrapper > div, .gridwrapper > div, .gridabsolutewrapper > div {
  flex: 1 1 200px;
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

/* Grid example */

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box1 {
}

.box2 {
}

/* Grid absolute wrapper */
.gridabsolutewrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.gridabsolutewrapper .box3 {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  top: 40px; 
  left: 40px
}




